@model DAWEB2.Models.Message

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Hoten, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hoten)
                @Html.ValidationMessageFor(model => model.Hoten)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mess, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mess"></textarea>
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gửi" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Phần nhập phản hồi người dùng dưới dạng Partial View ( Họ Tên, Email, Phản hồi) -->
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <form>
            <label for="Hoten"></label>
            <input type="text" name="Hoten" id="Hoten" value="Nhập họ tên của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập họ tên của bạn';}" required="">
            <label for="email"></label>
            <input type="email" name="Email" id="email" value="Nhập email của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}" required="">
            <label for="Mess"></label>
            <textarea name="Mess" id="Mess" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tin nhắn...';}" required="">Tin nhắn...</textarea>
            <input type="submit" value="Gửi">
        </form>
    </div>
}
  