@foreach(var tin in Model)
{
        @*<li><a href="@Url.Action("CTTin","TrangChu",new { id = tin.idTin})">@tin.TieuDe</a></li>*@
    <div class="recent-grid">
        <div class="wom">
            <a href="@Url.Action("CTTin","TrangChu",new { id = tin.idTin})"><img src="~/TemplateMau/images/@tin.urlHinh" alt="" class="img-responsive"></a>
        </div>
        <div class="wom-right">
            <h4><a href="@Url.Action("CTTin","TrangChu",new { id = tin.idTin})">@tin.TieuDe</a></h4>
            <p>
                @tin.TomTat
            </p>
        </div>
        <div class="clearfix"> </div>
    </div>
}