@model DAWEB2.Models.TheLoai

@{
    ViewBag.Title = "EditTheLoai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*}*@

    @using (Html.BeginForm("EditTheLoai", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <section id="main" class="column">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idTheLoai)
            <article class="module width_full">
                <header><h3>Chỉnh sửa Thể loại</h3></header>
                <div class="module_content">
                    <fieldset>
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.TenTheLoai, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label>Tên thể loại</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TenTheLoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenTheLoai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <table class="table">
                            <tr>
                                <td>
                                    <label style="display: block;
                                float: left;
                                width: 300px;
                                height: 25px;
                                line-height: 25px;
                                text-shadow: 0 1px 0 #fff;
                                font-weight: bold;
                                padding-left: 10px;
                                margin: -5px 0 5px 0;
                                text-transform: uppercase;">
                                        Đổi hình đại diện cho thể loại (200 x 200px)
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" name="fileUpload" class="btn-danger" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img name="hinhanh" src="@Url.Content("~/TemplateMau/images/" + Model.AnhHien)" style="height:200px;width:200px" />(Ảnh hiện tại)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <div class="clear"></div>
                </div>
                <footer>
                    <div class="submit_link">

                        <input type="submit" value="Save" class="alt_btn">
                        <input type="submit" value="Reset">
                    </div>
                </footer>
            </article> @*end of post new article*@

            
        </section>
    }



