@model DAWEB2.Models.LoaiTin

@{
    ViewBag.Title = "SuaLoaiTin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="main" class="column">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <article class="module width_full">
            <header><h3>Sửa loại tin mới</h3></header>
            <div class="module_content">
                <fieldset>
                    <div class="form-group">
                        <label for="Ten">Thể loại</label>
                        @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="idTheLoai">Thể loại</label>
                    @* @Html.LabelFor(model => model.idTheLoai, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div style="border-radius: 5px;
                                                border: 1px solid #BBBBBB;
                                                height: 20px;
                                                color: #666666;
                                                -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                padding-left: 10px;
                                                background-position: 10px 6px;
                                                margin: 0;
                                                display: block;
                                                float: left;
                                                width: 96%;
                                                margin: 0 10px;">
                        @Html.DropDownList("idTheLoai")
                    </div>
                </fieldset>
            </div>
            <footer>
                <div class="submit_link">
                    <input type="submit" value="Lưu cập nhật" class="alt_btn">
                </div>
            </footer>
        </article>
    </section>

}
