@model DAWEB2.Models.User
@{
    ViewBag.Title = "SuaNV";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="main" class="column">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <article class="module width_full">
            <header><h3>Sửa nhân viên</h3></header>
            <div class="module_content">
                <fieldset>
                    <div class="form-group">
                        <label for="HoTen">Họ tên</label>
                        @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                             @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                           @* <input type="text" maxlength="50" required="" name="HoTen" />*@
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label for="DiaChi">Địa chỉ</label>
                        @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                             @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                          @*  <input type="text" maxlength="100" required="" name="DiaChi" />*@
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                    </div><br /><br /><br /><br />
                    <fieldset>
                        <div class="form-group">
                            <label for="DienThoai">Điện thoại</label>
                            @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                 @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                <input type="number" maxlength="12" required="" name="DienThoai"
                                       style="-webkit-border-radius: 5px;
                                                -moz-border-radius: 5px;
                                                border-radius: 5px;
                                                border: 1px solid #BBBBBB;
                                                height: 20px;
                                                color: #666666;
                                                -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                padding-left: 10px;
                                                background-position: 10px 6px;
                                                margin: 0;
                                                display: block;
                                                float: left;
                                                width: 96%;
                                                margin: 0 10px;" />
                                @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                 @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="email" maxlength="50" required="" name="Email" style="-webkit-border-radius: 5px;
                                                -moz-border-radius: 5px;
                                                border-radius: 5px;
                                                border: 1px solid #BBBBBB;
                                                height: 20px;
                                                color: #666666;
                                                -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                padding-left: 10px;
                                                background-position: 10px 6px;
                                                margin: 0;
                                                display: block;
                                                float: left;
                                                width: 96%;
                                                margin: 0 10px;" />*@
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label for="NgaySinh">Ngày sinh</label>
                            @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                 @Html.EditorFor(model => model.NgaySinh,new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="date" required="" name="NgaySinh" style="-webkit-border-radius: 5px;
                                                -moz-border-radius: 5px;
                                                border-radius: 5px;
                                                border: 1px solid #BBBBBB;
                                                height: 20px;
                                                color: #666666;
                                                -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
                                                padding-left: 10px;
                                                background-position: 10px 6px;
                                                margin: 0;
                                                display: block;
                                                float: left;
                                                width: 96%;
                                                margin: 0 10px;" />*@
                                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label for="GioiTinh">Giới tính (Nam = tích)</label>
                            @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @* @Html.EditorFor(model => model.idUser, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.CheckBoxFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <footer>
                <div class="submit_link">
                    <input type="submit" value="Cập nhật nhân viên" class="alt_btn">
                </div>
            </footer>
        </article>
    </section>

}


