<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cong Nghe 24h </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    @*----------------TemplateMauMau*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/TemplateMau/css/bootstrap.css" rel="stylesheet" />
    <link href="~/TemplateMau/css/style.css" rel="stylesheet" />
    <!-- js -->
    <script src="~/TemplateMau/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    @*------------------EndTemplateMau*@
</head>
<body>
    <!-- banner -->
    <div class="banner">
        <div class="banner-info">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- 3 dấu ngoặc (menu thu nhỏ) sử dụng điện thoại -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">
<<<<<<< HEAD
                            <a class="navbar-brand" href="@Url.Action("Index", "TrangChu")"><span>24H</span> Cong Nghe </a>
                           
=======
                            <a class="navbar-brand" href="index.html"><span>24H</span> Cong Nghe </a>
>>>>>>> refs/remotes/origin/master
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        @Html.Action("ViewMenuTop", "TrangChu")
                    </div><!-- /.navbar-collapse -->

                </nav>
                <!--banner-Slider-->
                <script src="~/TemplateMau/js/responsiveslides.min.js"></script>
                <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav:true,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
							  });

							});
                </script>
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">

                        @Html.Action("ViewBannerTop", "TrangChu")


                        @*<li>
                            <div class="banner-info-slider">
                                <ul>
                                    <li><a href="single.html">politics</a></li>
                                    <li>25 Dec 2015</li>
                                </ul>
                                <h1>The Hunters breaking an Ebola ban on Bushmeat</h1>
                                <p>
                                    Ebola is a viral illness of which the initial
                                    symptoms can include a sudden fever, intense weakness,
                                    muscle pain and a sore throat.<span>By <i>ullamcoman</i> and <i>Micheal smithjos.</i></span>
                                </p>
                                <div class="more">
                                    <a href="single.html" class="type-1">
                                        <span> Read More </span>
                                        <span> Read More </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info-slider">
                                <ul>
                                    <li><a href="single.html">Business</a></li>
                                    <li>25 Dec 2015</li>
                                </ul>
                                <h1>magna perspiciatis unde omnis iste natus errors</h1>
                                <p>
                                    Dolore ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span>By <i>laborisman</i> and <i>Adom smithjos.</i></span>
                                </p>
                                <div class="more">
                                    <a href="single.html" class="type-1">
                                        <span> Read More </span>
                                        <span> Read More </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info-slider">
                                <ul>
                                    <li><a href="single.html">sports</a></li>
                                    <li>25 Dec 2015</li>
                                </ul>
                                <h1>Sed ut perspiciatis unde omnis iste natus errors</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span>By <i>ullamcoman</i> and <i>Micheal smithjos.</i></span>
                                </p>
                                <div class="more">
                                    <a href="single.html" class="type-1">
                                        <span> Read More </span>
                                        <span> Read More </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info-slider">
                                <ul>
                                    <li><a href="single.html">general</a></li>
                                    <li>25 Dec 2015</li>
                                </ul>
                                <h1>Sed ut perspiciatis unde omnis iste natus errors</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span>By <i>ullamcoman</i> and <i>Micheal smithjos.</i></span>
                                </p>
                                <div class="more">
                                    <a href="single.html" class="type-1">
                                        <span> Read More </span>
                                        <span> Read More </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info-slider">
                                <ul>
                                    <li><a href="single.html">international</a></li>
                                    <li>25 Dec 2015</li>
                                </ul>
                                <h1>Sed ut perspiciatis unde omnis iste natus errors</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span>By <i>ullamcoman</i> and <i>Micheal smithjos.</i></span>
                                </p>
                                <div class="more">
                                    <a href="single.html" class="type-1">
                                        <span> Read More </span>
                                        <span> Read More </span>
                                    </a>
                                </div>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- banner -->
    <div> @RenderBody()</div>

    <!-- //banner-bottom -->
    <!-- footer -->
    <div class="footer-top">
        <div class="container">
            <p>
                 - TTV TEAM
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-4 footer-grid-left">
                    <h3>twitter feed</h3>
                    <ul>
                        <li>
                            <a href="#">
                                the moment an unlimited #antares rocket exploded seconds after launch
                                <i>http//example.com</i>
                            </a><span>15 minutes ago</span>
                        </li>
                        <li>
                            <a href="#">
                                gathering data on failure #antares rocket bound
                                for international space
                            </a><span>45 minutes ago</span>
                        </li>
                        <li>
                            <a href="#">
                                ex-cabinet minister chris huhne loses legal challenge over $77,750
                                court costs incurred in speeding points
                            </a><span>1 day ago</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-grid-left">
                    <h3>Liên hệ</h3>
<<<<<<< HEAD
                    @Html.Action("lienhe3", "LienHe")
=======
                    <form>
                        <input type="text" value="Họ & tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Họ & tên';}" required="">
                        <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tin nhắn...';}" required="">Tin nhắn...</textarea>
                        <input type="submit" value="Submit">
                    </form>
>>>>>>> refs/remotes/origin/master
                </div>
                <div class="col-md-4 footer-grid-left">
                    <h3>Về chúng tôi</h3>
                    <p>
                        Nhóm 3 - 13DTHC02 - Lập trình web
                        <span>
                            Tùng, Toàn, Vũ
                        </span>
                        <i>- TTV TEAM</i>
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    <p>- TTV TEAM</p>
                </div>
                <div class="footer-bottom-right">
                    <ul>
                        <li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
                        <li><a href="#" class="icon-button google"><i class="icon-google"></i><span></span></a></li>
                        <li><a href="#" class="icon-button v"><i class="icon-v"></i><span></span></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->


</body>
</html>
